<ion-content>
  <div class="top-container">
    <div class="main-img">
      <h1>Workouts</h1>
      <h2>Always free | peer led</h2>
    </div>
  </div>
  <div class="content">
    <app-header></app-header>

    <div class="section">
      <h6 class="font-3 black-ops">AREAS OF OPERATION</h6>
      <ion-text color="medium" class="font-1">
        <p>F3 workouts are held in any weather conditions, free of charge and open to men of all ages.</p>
        <p>Find a workout location [AO] below.</p>
      </ion-text>

      <iframe src="https://map.f3nation.com/?lat=40.8316482&amp;lon=-74.5013289&amp;zoom=11" frameborder="0"></iframe>
      <ion-button color="secondary" fill="clear" href="https://map.f3nation.com/?lat=40.8316482&amp;lon=-74.5013289&amp;zoom=11" target="_blank">
        View this map full screen
        <ion-icon class="space-before" name="expand"></ion-icon>
      </ion-button>
    </div>

    <div class="footer section">
      <div class="space-between">
        <p>
          © Copyright 2023   |   F3 Morris    |   All Rights Reserved   |   Powered by the PAX
        </p>
        <p>
          <ion-button color="light" fill="clear" href="https://www.facebook.com/F3TheWard" target="_blank">
            <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button color="light" fill="clear" href="https://www.instagram.com/f3_morris_nj" target="_blank">
            <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
          </ion-button>
          <ion-button color="light" fill="clear" href="mailto:f3morrisinfo@gmail.com" target="_blank">
            <ion-icon name="mail"></ion-icon>
          </ion-button>
        </p>
      </div>
    </div>
  </div>
</ion-content>
